<mat-card>
    <h2>Log in to your account</h2>
    <form #loginForm="ngForm" (submit)="onLogin(loginForm)">
        <mat-form-field>
            <label>Username:</label>
            <input
                matInput
                type="text"
                name="username"
                ngModel
                required
                minlength="6"
                #username="ngModel">
            <mat-error *ngIf="username.invalid">Enter a valid username.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <label>Password:</label>
            <input
                matInput
                type="password"
                name="password"
                ngModel
                required
                minlength="6"
                #password="ngModel">
            <mat-error *ngIf="password.invalid">Enter a valid password.</mat-error>
        </mat-form-field>
        <button mat-raised-button 
            color="primary" 
            type="submit">
            Login
        </button>
    </form>
</mat-card>