<mat-toolbar>
  <a routerLink="/" routerLinkActive="mat-accent">
    <span class="logo">MyCarProject</span>
  </a>
  <a *ngIf="!isAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-accent">
    <span>Login</span>
  </a>
  <a *ngIf="!isAuthenticated" mat-button routerLink="/register" routerLinkActive="mat-accent">
    <span>Register</span>
  </a>
  <a *ngIf="isAuthenticated" mat-button routerLink="/create" routerLinkActive="mat-accent">
    <span>Add new Item</span>
  </a>
  <a *ngIf="isAuthenticated" mat-button routerLink="/list" routerLinkActive="mat-accent">
    <span>List Cars</span>
  </a>
  <a *ngIf="isAuthenticated" id="logout" mat-button (click)="onLogout()" routerLinkActive="mat-accent">
    <mat-icon aria-hidden="false" aria-label="Example exit icon">logout</mat-icon>
  </a>
</mat-toolbar>