<mat-card>
    <form >
        <mat-form-field>
            <label>Username:</label>
            <input
                matInput
                type="text"
                name="username"
                ngModel
                required
                minlength="6"
                #title="ngModel">
        </mat-form-field>
        <mat-form-field>
            <label>Password:</label>
            <input
                matInput
                type="password"
                name="password"
                ngModel
                required
                minlength="6"
                #title="ngModel">
        </mat-form-field>
        <button mat-raised-button 
            color="primary" 
            type="submit">
            Login
        </button>
    </form>
</mat-card>